<nav class="navbar sticky-top navbar-expand-lg navbarBlack" style="background-color: transparent;  " >
    <div class="container-fluid d-flex justify-content-end " style = "margin-right:50px; margin-top:30px;">
            <div class="col " >
            
            <button class="button" style = "width:50px;" > 
                Cristian 
                Manuel
                Architecture 
                Portfolio</button> 
            </div>
            <div class="col d-flex justify-content-end align-items-up" style = "margin-top:-74px">
                <button class="button" style = "width:50px;" (click)="proyectosGO()"> Proyectss </button> 
            </div>

</div>    |   
</nav>



