<nav class="navbar sticky-top navbar-expand-lg navbarBlack" style="background-color: transparent;  " >
  <div class="container-fluid d-flex justify-content-end " style = "margin-right:50px; margin-top:30px;">
          
         <div class="col " style = "margin-top:-70px">
              <button class="button" style = "width:50px;"> About </button> 
          </div>
          <div class="col d-flex justify-content-end align-items-up" style = "margin-top:-70px">
              <button class="button" style = "width:50px;"> resumen </button> 
          </div>

</div>    |   
</nav>